
.fontChange {
    font-family: 'Quintessential', cursive;
    color: wheat;
}
.socialsFooter:hover {
    opacity: 0.5;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: wheat;
 
}
ul li p {
    color: wheat;
}
ul li a:hover {
    opacity: 0.5;
}
#logoFooter {
    width: 150px; 
    height: 150px;
}
hr {
    background:grey;
    width:8em;
}
.listeFooter h2 {
    font-size: 1.2em;
}
#copyrightsFooter {
    background-color: rgba(0, 0, 0, 0.2);
    color: wheat;
}
#copyrightsFooter a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}