@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.intro {
    font-family: 'Quintessential', cursive;
    min-height: 32em;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.81);
    background-image: url('../Image/bannerBorealisIntro.webp');
}
.intro h1 {
    font-size: 2em;
    line-height: 150%;
    color: rgb(104, 95, 78);
    text-shadow: 5px 0px 6px rgba(0, 0, 0, 0.9);
}
.intro h1 strong {
    font-size: 1.1em;
    color: #f5deb3;
    font-weight: normal;
}