@media screen and (min-width:992px){
    .nav-item {
    line-height:50px;
    }
  }
#headerNav {
    font-family: 'Quintessential', cursive;
    font-size: 1.4em;
    color: wheat;
}
.navLinks, .socialLinks {
  color: #f5deb3;
}