.headerHome {
    background-image: url('../Image/homeHeader.webp');
    background-size: cover;
    height: 62em;
    font-family: 'Quintessential', cursive;
}
.blockOne {
    background-image: url('../Image/bgBlockOne.webp');
}
.titleIntro h1 {
    
    color: #ffffff;
    font-size: 7em;
}
.titleIntro h1:hover {
    color: #c4ccd1;
    cursor: pointer;
    font-size: 7em;
}
.titleIntro h2 {
    color: #cbd0d3;
    font-size: 2em;
}
.blockOne h2 {
    color: wheat;
    font-family: 'Quintessential', cursive;
    font-size: 3em;
}
.blockOne h2 strong {
    font-size: 2em;
    color: #d3dcd3;
}
.welcome {
    color: wheat;
    font-size: 1.2em;
    font-family: 'Quintessential', cursive;
    background: #0d0d0d;
}