
.locInt {
    font-family: 'Quintessential', cursive;
    min-height: 61em;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.81);
}
.introLoc h1 {
    font-size: 8em;
    color: wheat;
    font-weight: bold;
    text-shadow: 5px 0px 6px rgba(0, 0, 0, 0.9);
}
.iconDown {
    color: rgba(245, 222, 179,0.8);
}

.introText {
    width:30em;
    margin-left: 10em;
    margin-top: 7em;
    color: rgb(245, 222, 179);
    font-family: 'Quintessential', cursive;
    background: rgba(59, 58, 58,0.5);
    padding: 2em;
    border-radius: 0.5em;
    font-size: 1.1em;
}
.logement {
    background-image: url('../Image/betweenLocation.webp');
    background-size: contain;
}
.dispoLoc {
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: double wheat 10px;
    background-image: url('../Image/betweenLocation.webp');
}
.dispoLoc h2 {
    font-family: 'Quintessential', cursive;
    font-size: 3em;
    color: wheat;
    text-shadow: 5px 0px 6px rgba(0, 0, 0, 0.9);
}
.profile-card-4 {
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.81);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    border: 2px solid wheat;
    
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
   background: black;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: wheat;
    font-size: 17px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.profile-card-4:hover {
    transform: scale(1.05);
    transform: translateY(-1em);
}
.profile-card-4:hover img{
    -webkit-filter: brightness(150%);
    
}
.profile-card-4:hover .profile-name{
display: none;
}
.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    font-family: 'Quintessential', cursive;
    color: #000000;
    font-size: 1em;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-overview p {
    font-family: 'Quintessential', cursive;
    font-size: 1.5em;
    font-weight: bold;
   color: wheat;
}

.profile-card-4 .profile-overview h4 {
    font-family: 'Quintessential', cursive;
    color: rgb(179, 245, 232);
    font-weight: bold;
    opacity: 0.5;
}
.profile-card-4:hover .profile-overview h4 {
    opacity: 1;
}
.profile-card-4 .profile-overview h4 strong {
    color: wheat;
}
.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: wheat;
    z-index: 0;
    transform: skewY(3deg);
}

.button-83 {
    width: 10em; 
    background-color: transparent;
    background-image: linear-gradient(to bottom, wheat, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    column-gap: 1rem;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    padding: 0.6em;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Quintessential', cursive;
  }
  .button-83:hover {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
.bannerBtm {
    height: 30em;
    font-family: 'Quintessential', cursive;
}
.bannerBtm h2 {
    color: wheat;
    font-size: 5em;
    width: 8em;
}
.bannerBtm p {
    width: 50em;
    color: wheat;
    font-size: 1.2em;
}