@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
body {
    background-color: #212529;
    margin: 0;
    overflow-x: hidden;
}
.introPropos {
    margin-top: 8em;
    
}
.introPropos {
    font-family: 'Quintessential', cursive;
    min-height: 10em;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.81);
    z-index: 1;
    background-image: url('../Image/icelandBanner.webp');
    background-size:cover;
}
.introPropos img {
    opacity: 0.5;
}
.introPropos h1 {
    font-size: 2em;
    line-height: 150%;
    color: #959595;
    text-shadow: 5px 0px 6px rgba(0, 0, 0, 0.9);
}
.introPropos h1 strong {
    font-size: 1.1em;
    color: #e2e2e2;
    font-weight: normal;
}
.aboutUs {
    color: #959595;
    font-family: 'Quintessential', cursive;
    font-size: 1.5em;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: 0px 3px 16px 2px rgba(0,0,0,0.81);

}
#aboutOne p {
    padding-right: 2em;
}
#aboutTwo p {
    padding-left: 2em;
    text-align: right;
}
#aboutThree p {
    padding-right: 2em;
}
.aboutUs img {
    width: 20em;
    height: 20em;
    border: double 8px #959595;
}