.teamPortrait {
    font-family: 'Quintessential', cursive;
    color: #e2e2e2;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.81);
    width: 30em;
    margin: 6em;
    margin-top: 0;
    padding: 2em;
    border-radius: 0.5em;
}
.teamPortrait h2 {
    font-size: 3em;
}
.teamPortrait p {
    font-size: 1.2em;
}
.teamEmployees {
    font-family: 'Quintessential', cursive;
    color: #e2e2e2;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.81);
    margin: 2em;
    margin-top: 0;
    padding: 2em;
    border-radius: 0.5em;
}
.teamEmployees h2 {
    font-size: 3em;
}
.teamEmployees p {
    font-size: 1.2em;
}